@font-face {
    font-family: "HyliaSerif";
    src: url();
}
@font-face {
    font-family: "HyliaSerif";
    src: url();
}
:root {
    --bg-color: #494b4b;
    --primary-color: #0d9263;
    --secondary-color: #4aba91;
    --highlight-color: #d4ce46;
    --default-padding: 3rem;
}

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
     font-family: /*"HyliaSerif", */ sans-serif; 
    font-style: normal;
    font-weight: 500;
    /* background-color: var(--bg-color); */
    color: var(--secondary-color);
}
body{
    height: 100%;
}

.main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: fixed;
}

.top {
    display: flex;
    height: fit-content;
    background-color:var(--highlight-color);
    padding: var(--default-padding);
}

.mid{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.bottom {
    background-color: var(--highlight-color);
    height: 1rem;
    padding: var(--default-padding);
}
.top>nav>ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    /* background-color: var(--primary-color); */
}

.top>nav>ul>li>a {
    padding: 1rem 3rem;
    margin: 2rem;
    text-decoration: none;
    color: var(--primary-color);
    font-family: "HyliaSerif";
    border: calc(var(--default-padding)/7) solid var(--secondary-color);
    border-radius: 50px;
    font-size: 2rem;
    background-color: var(--primary-color); 
}
.top>nav>ul>li>a:hover, .top>nav>ul>li>a:active, .top>nav>ul>li>a:visited {
    filter: brightness(125%);
    color: var(--highlight-color);
}

.left {
    background-color: var(--secondary-color);
    width: 250px;
    color: var(--highlight-color);
    padding: var(--default-padding);
}
.right {
    padding: var(--default-padding);
    background-color: #222;
}
.right>*{
    margin: 0;
    padding:0;
}
